In [1]:
import pandas as pd
import numpy as np

In [ ]:
# oop exercise
# create a proya cosmetics customer segment
# segment logic:
# first considering feature
# nest considering feature
# last considering feature

# 3种人群：入门，进阶，玩色
# 分类逻辑：
# 入门：
    # 主筛选条件
        # 化妆频率：一周1-4次（最次要权重）
        # 化妆步骤：没有高光，腮红，阴影的所有(最高权重)
        # 化妆态度：一般固定几种颜色（次要权重）
    # 次筛选条件
        # 妆容风格：日常清新/甜美少女
        # 底妆产品风格：种类越多，风格越不日常，阶级越高
# 进阶：
    # 主筛选条件
        # 化妆频率：一周5-7次（最次要权重）
        # 化妆步骤：所有(最高权重)
        # 化妆态度：一般固定几种颜色/比较喜欢尝试不同颜色（次要权重）
    # 次筛选条件
        # 妆容风格：除日常清新/甜美少女其他所有
        # 底妆产品风格：种类越多，风格越不日常，阶级越高
# 玩色：
    # 主筛选条件
        # 化妆频率：一周5-7次（最次要权重）
        # 化妆步骤：没有高光，腮红，阴影的所有(最高权重)
        # 化妆态度：比较喜欢尝试不同颜色/颜色选择比较跳脱（次要权重）
    # 次筛选条件
        # 妆容风格：多彩玩色风/百变跳脱
        # 底妆产品风格：种类越多，风格越不日常，阶级越高

In [15]:
df = pd.read_excel(r"C:\Users\22785\Desktop\打工\珀萊雅工作報告\社群分类\classification.xlsx")

In [16]:
df

,index,cus_name,frequncy,primer,eyebrows,eyeliner,eyeshadow,highlight,shadow,blush,lipstick,attitude,makeup_style
0,1,Kalen,4,1,1,1,0,0,0,0,0,0,7
1,2,Nina,2,1,0,0,1,0,0,0,1,0,2
2,3,Angela,3,1,1,1,1,1,1,0,1,0,4
3,4,Ketty,4,1,0,0,1,0,1,1,1,1,2
4,5,Zoe,5,1,0,0,1,0,1,1,1,2,7

In [17]:
# 关于已处理好数据的分类模块
product_used = ['primer','eyebrows','eyeliner','eyeshadow','highlight','shadow','blush','lipstick']
# extract such thing
df['higher_product_number'] = df[['highlight','shadow','blush']].sum(axis=1)

In [18]:
#extract those columns that need to analyze
col = ['frequncy', 'attitude', 'makeup_style','higher_product_number']
df_ana = df[col]

In [19]:
df_ana

   frequncy  attitude  makeup_style  higher_product_number
0         4         0             7                      0
1         2         0             2                      0
2         3         0             4                      2
3         4         1             2                      2
4         5         2             7                      2

In [46]:
# create a classifier
def classify(arr):
    if int(arr['higher_product_number']) < 2:
        return 0
    else:
        if int(arr['attitude']) == 0:
            return 0
        else:
            if int(arr['frequncy']) < 4:
                if int(arr['makeup_style']) < 4:
                    return 0
                else:
                    return 1
            else:
                if int(arr['attitude']) > 0:
                    return 2
                else:
                    if int(arr['makeup_style']) >= 6:
                        return 2
    return 1

In [51]:
classify(df_ana[4:5])

2

In [56]:
# create a general classifior for all dataframe
def create_lable(dataframe):
    label = dataframe.apply(lambda x: classify(x),axis = 1)
    return label

In [57]:
create_lable(df_ana)

0    0
1    0
2    0
3    2
4    2
dtype: int64

In [32]:
type(q)

numpy.ndarray

In [42]:
type(df_ana[0:1]['higher_product_number'].values)

TypeError: 'numpy.ndarray' object is not callable

In [1]:
df_ana[0:1]['higher_product_number']

NameError: name 'df_ana' is not defined